## Deliverable 3. Create a Travel Itinerary Map.

In [23]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import sys
sys.path.append("..")
# Import API key
from config import g_key

import os
# Configure gmaps
gmaps.configure(api_key=g_key)

In [24]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../VacationPy/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Rikitea,PF,74.01,few clouds,-23.1203,-134.9692,People ThankYou
1,10,Ocampo,MX,71.74,scattered clouds,21.6500,-101.5000,Casa de ratas
2,16,Kurchum,KZ,65.37,overcast clouds,48.5722,83.6542,"Gostinitsa ""Kneda"""
3,23,Hanzhong,CN,68.45,light rain,33.0728,107.0303,Guorui Hotel
4,25,Vaini,TO,68.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort

In [30]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [31]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Trip into MEXICO.
# Grab the first hotel from the results and store the name.
mexico_vacation_df = vacation_df.loc[(vacation_df["Country"] == "MX")]
mexico_vacation_df.dropna()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,10,Ocampo,MX,71.74,scattered clouds,21.6500,-101.5000,Casa de ratas
17,85,San Quintin,MX,73.89,clear sky,30.4833,-115.9500,Don Eddie's Sport Fishing Center
69,335,Tlacotepec,MX,73.11,scattered clouds,20.0667,-97.8667,RANCHO LA ILUSION

In [33]:
new_column_order = ["City_ID", "City", "Country", "Lat","Lng", "Max Temp", "Current Description"]

In [34]:
mexico_vacation_df = mexico_vacation_df[new_column_order]

In [35]:
mexico_vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
1,10,Ocampo,MX,21.6500,-101.5000,71.74,scattered clouds
17,85,San Quintin,MX,30.4833,-115.9500,73.89,clear sky
69,335,Tlacotepec,MX,20.0667,-97.8667,73.11,scattered clouds

In [36]:
start = float(input("What is your Starting City_ID from MX List you would like for your trip? "))
stop1 = float(input("What is your First Stop City_ID from MX List you would like for your trip? "))
stop2 = float(input("What is your Second Stop City_ID from MX List you would like for your trip? "))
stop3 = float(input("What is your Thirth Stop City_ID from MX List you would like for your trip? "))
end = float(input("What is your Last City_ID from MX List you would like for your trip? "))

What is your Starting City_ID from MX List you would like for your trip? 10
What is your First Stop City_ID from MX List you would like for your trip? 85
What is your Second Stop City_ID from MX List you would like for your trip? 335
What is your Thirth Stop City_ID from MX List you would like for your trip? 85
What is your Last City_ID from MX List you would like for your trip? 10

In [37]:
vacation_start = mexico_vacation_df.loc[(mexico_vacation_df["City_ID"] == stop1)]
vacation_start = vacation_start.iloc[0]

vacation_stop1 = mexico_vacation_df.loc[(mexico_vacation_df["City_ID"] == stop2)]
vacation_stop1 = vacation_stop1.iloc[0]

vacation_stop2 = mexico_vacation_df.loc[(mexico_vacation_df["City_ID"] == stop3)]
vacation_stop2 = vacation_stop2.iloc[0]

vacation_stop3 = mexico_vacation_df.loc[(mexico_vacation_df["City_ID"] == end)]
vacation_stop3 = vacation_stop3.iloc[0]

vacation_end = mexico_vacation_df.loc[(mexico_vacation_df["City_ID"] <= end)]
vacation_end = vacation_end.iloc[0] 
                                     
print("Your Starting Destination is " + vacation_start["City"] + ", " + vacation_start["Country"])
print("Your Frist Stop is " + vacation_stop1["City"] + ", " + vacation_stop1["Country"])
print("Your Second Stop is " + vacation_stop2["City"] + ", " + vacation_stop2["Country"])                                     
print("Your Thirth Stop is " + vacation_stop3["City"] + ", " + vacation_stop3["Country"])                                     
print("Your Last Stop in your vacation is " + vacation_end["City"] + ", " + vacation_end["Country"])

Your Starting Destination is San Quintin, MX
Your Frist Stop is Tlacotepec, MX
Your Second Stop is San Quintin, MX
Your Thirth Stop is Ocampo, MX
Your Last Stop in your vacation is Ocampo, MX

In [38]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]]
print(start)

Lat    30.4833
Lng    -115.95
Name: 17, dtype: object

In [39]:
stop1 = vacation_stop1[["Lat", "Lng"]]
print(stop1)

Lat    20.0667
Lng   -97.8667
Name: 69, dtype: object

In [40]:
stop2 = vacation_stop2[["Lat", "Lng"]]
print(stop2)

Lat    30.4833
Lng    -115.95
Name: 17, dtype: object

In [41]:
stop3 = vacation_stop3[["Lat", "Lng"]]
print(stop3)

Lat    21.65
Lng   -101.5
Name: 1, dtype: object

In [42]:
end = vacation_end[["Lat", "Lng"]]
print(end)

Lat    21.65
Lng   -101.5
Name: 1, dtype: object

In [43]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# USING DRIVING MODE!

import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

start = (20.7, -105.2)
stop1 = (17.48, -91.43)
stop2 = (27.98, -114.06)
stop3 = (23.17, -97.95)
end = (30.85, -116.07)

fig = gmaps.figure()
sart2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(sart2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# 8. To create a marker layer map between the cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

mexico_vacation_df = pd.concat([mexico_vacation_df],ignore_index=True)
mexico_vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
0,10,Ocampo,MX,21.6500,-101.5000,71.74,scattered clouds
1,85,San Quintin,MX,30.4833,-115.9500,73.89,clear sky
2,335,Tlacotepec,MX,20.0667,-97.8667,73.11,scattered clouds

In [45]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
mark_info = [info_box_template.format(**row) for index, row in mexico_vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = mexico_vacation_df[["Lat", "Lng"]]

In [46]:
# 11a. Add a marker layer for each city to the map.
city_mark = mexico_vacation_df["City"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=mark_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))