In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cherskiy,RU,2021-08-07 19:02:13,68.7500,161.3000,53.35,55,76,4.83
1,1,Mataura,NZ,2021-08-07 19:06:55,-46.1927,168.8643,34.48,99,100,1.28
2,2,Atuona,PF,2021-08-07 19:06:56,-9.8000,-139.0333,76.98,82,100,17.11
3,3,Ushuaia,AR,2021-08-07 19:04:21,-54.8000,-68.3000,29.86,100,90,18.41
4,4,Geraldton,AU,2021-08-07 19:06:56,-28.7667,114.6000,63.01,94,40,10.36

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Create a Percent Cloudiness Heatmap
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Create a Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
print(city_data_df)

     City_ID           City Country                 Date      Lat       Lng  \
0          0       Cherskiy      RU  2021-08-07 19:02:13  68.7500  161.3000
1          1        Mataura      NZ  2021-08-07 19:06:55 -46.1927  168.8643
2          2         Atuona      PF  2021-08-07 19:06:56  -9.8000 -139.0333
3          3        Ushuaia      AR  2021-08-07 19:04:21 -54.8000  -68.3000
4          4      Geraldton      AU  2021-08-07 19:06:56 -28.7667  114.6000
..       ...            ...     ...                  ...      ...       ...
595      595  San Policarpo      PH  2021-08-07 19:09:28  12.1791  125.5072
596      596        Goundam      ML  2021-08-07 19:09:28  16.4145   -3.6708
597      597        Kuusamo      FI  2021-08-07 19:09:28  65.9667   29.1833
598      598         Nemuro      JP  2021-08-07 19:09:29  43.3236  145.5750
599      599   Port Hedland      AU  2021-08-07 19:09:29 -20.3167  118.5667

     Max Temp  Humidity  Cloudiness  Wind Speed
0       53.35        55          76        4.83
1       34.48        99         100        1.28
2       76.98        82         100       17.11
3       29.86       100          90       18.41
4       63.01        94          40       10.36
..        ...       ...         ...         ...
595     79.12        84          97        4.72
596     94.32        42          17       12.91
597     60.84        55           0        5.75
598     68.90        97          12        4.18
599     62.65        34           6        9.22

[600 rows x 10 columns]

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Atuona,PF,2021-08-07 19:06:56,-9.8000,-139.0333,76.98,82,100,17.11
13,13,Kenema,SL,2021-08-07 19:06:58,7.8767,-11.1875,75.94,75,90,3.36
16,16,Salalah,OM,2021-08-07 19:06:20,17.0151,54.0924,78.89,89,90,6.91
18,18,Hilo,US,2021-08-07 19:03:02,19.7297,-155.0900,78.53,83,90,3.44
23,23,Albany,US,2021-08-07 19:04:16,42.6001,-73.9662,87.80,62,98,2.59
35,35,Butaritari,KI,2021-08-07 19:07:03,3.0707,172.7902,82.15,70,20,14.09
36,36,Mitchell,US,2021-08-07 19:05:22,43.7094,-98.0298,82.38,61,1,12.39
47,47,Kousseri,CM,2021-08-07 19:07:06,12.0769,15.0306,79.61,73,16,5.59
50,50,Bathsheba,BB,2021-08-07 19:04:53,13.2167,-59.5167,86.61,66,20,12.66
52,52,Moron,AR,2021-08-07 19:03:37,-34.6534,-58.6198,79.00,61,5,2.48

In [19]:
# How would you determine if there are any null values for the rows in the preferred_cities_df DataFrame? 
preferred_cities_df.notnull().sum()

City_ID       208
City          208
Country       208
Date          208
Lat           208
Lng           208
Max Temp      208
Humidity      208
Cloudiness    208
Wind Speed    208
dtype: int64

In [20]:
preferred_cities_df.count()

City_ID       208
City          208
Country       208
Date          208
Lat           208
Lng           208
Max Temp      208
Humidity      208
Cloudiness    208
Wind Speed    208
dtype: int64

In [21]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [22]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Atuona,PF,2021-08-07 19:06:56,-9.8000,-139.0333,76.98,82,100,17.11
13,13,Kenema,SL,2021-08-07 19:06:58,7.8767,-11.1875,75.94,75,90,3.36
16,16,Salalah,OM,2021-08-07 19:06:20,17.0151,54.0924,78.89,89,90,6.91
18,18,Hilo,US,2021-08-07 19:03:02,19.7297,-155.0900,78.53,83,90,3.44
23,23,Albany,US,2021-08-07 19:04:16,42.6001,-73.9662,87.80,62,98,2.59
...,...,...,...,...,...,...,...,...,...,...
579,579,Barranco,PA,2021-08-07 19:09:24,9.5167,-82.7000,76.75,84,100,1.90
585,585,Muri,IN,2021-08-07 19:06:13,23.3667,85.8667,81.37,83,100,5.01
589,589,Garango,BF,2021-08-07 19:09:26,11.8000,-0.5506,85.42,55,19,5.77
593,593,Aylmer,CA,2021-08-07 19:09:27,42.7668,-80.9830,79.75,57,13,11.25
595,595,San Policarpo,PH,2021-08-07 19:09:28,12.1791,125.5072,79.12,84,97,4.72

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
2       Atuona      PF     76.98  -9.8000 -139.0333
13      Kenema      SL     75.94   7.8767  -11.1875
16     Salalah      OM     78.89  17.0151   54.0924
18        Hilo      US     78.53  19.7297 -155.0900
23      Albany      US     87.80  42.6001  -73.9662
35  Butaritari      KI     82.15   3.0707  172.7902
36    Mitchell      US     82.38  43.7094  -98.0298
47    Kousseri      CM     79.61  12.0769   15.0306
50   Bathsheba      BB     86.61  13.2167  -59.5167
52       Moron      AR     79.00 -34.6534  -58.6198

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

In [25]:

hotel_df.head()

       City Country  Max Temp      Lat       Lng     Hotel Name
2    Atuona      PF     76.98  -9.8000 -139.0333         Atuona
13   Kenema      SL     75.94   7.8767  -11.1875         Kenema
16  Salalah      OM     78.89  17.0151   54.0924        Salalah
18     Hilo      US     78.53  19.7297 -155.0900           Hilo
23   Albany      US     87.80  42.6001  -73.9662  Voorheesville

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# The text inside the multiline string is HTML code. 
# HTML code is defined by the opening and closing the angular brackets (e.g., <tag> and <tag/>). 

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))